<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/ajout.css" />
    <link rel="stylesheet" href="~/css/nav.css" />
    <link rel="stylesheet" href="~/css/critere.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/form.css" />
    <link rel="stylesheet" href="~/css/confirmbox.css" />
    <link rel="stylesheet" href="~/css/liste_personnel.css" />
    <link rel="stylesheet" href="~/fontawesome/css/font-awesome.css">
    <link href="~/calendar/css/mobiscroll.javascript.min.css" rel="stylesheet" />
    <script src="~/calendar/js/mobiscroll.javascript.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>@ViewData["Title"] - RH</title>
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      @await Html.PartialAsync("Slide")
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        @await Html.PartialAsync("NAv")
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        @RenderBody()
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->
    <script src="script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>