<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>Miraculous</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <link rel="stylesheet" href="~/css/templatemo-digimedia-v1.css" />
    <link rel="stylesheet" href="~/css/animated.css" />
    <link rel="stylesheet" href="~/css/owl.css" />
    <!--

TemplateMo 568 Dimpex

https://templatemo.com/tm-568-digimedia

-->
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <!-- <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div> -->
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header
      class="header-area header-sticky wow slideInDown"
      data-wow-duration="0.75s"
      data-wow-delay="0s"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo-container">
                <img src="~/images/logo-v1.png" alt="" style="width:10%;" />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="#top" class="active">Accueil</a>
                </li>
                <li class="scroll-to-section"><a href="#about">A propos</a></li>
                <li class="scroll-to-section">
                  <a href="#services">Services</a>
                </li>
                <li class="scroll-to-section">
                  <a href="#offers">Annonces</a>
                </li>
                
                <li class="scroll-to-section">
                  <a href="#contact">Contact</a>
                </li>
                <li>

                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div
      class="main-banner wow fadeIn"
      id="top"
      data-wow-duration="1s"
      data-wow-delay="0.5s"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div
                  class="left-content show-up header-text wow fadeInLeft"
                  data-wow-duration="1s"
                  data-wow-delay="1s"
                >
                  <div class="row">
                    <div class="col-lg-12">
                      <h6>Miraculous.</h6>
                      <h2>Votre Beauté Merveilleuse!</h2>
                      <p style="opacity: 100%; color:grey;">
                        Découvrez l'éclat naturel de votre beauté avec nos produits cosmétiques de qualité, conçus pour sublimer votre peau et révéler votre confiance intérieure
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div
                  class="right-image wow fadeInRight"
                  data-wow-duration="1s"
                  data-wow-delay="0.5s"
                >
                  <img src="~/images/home.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="about" class="about section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div
                  class="about-left-image wow fadeInLeft"
                  data-wow-duration="1s"
                  data-wow-delay="0.5s"
                >
                  <img src="~/images/about-dec.png" alt="" />
                </div>
              </div>
              <div
                class="col-lg-6 align-self-center wow fadeInRight"
                data-wow-duration="1s"
                data-wow-delay="0.5s"
              >
                <div class="about-right-content">
                  <div class="section-heading">
                    <h6>A propos</h6>
                    <h4>Qui est  <em>Miraculous</em></h4>
                    <div class="line-dec"></div>
                  </div>
                  <p style="color:grey;">
                      Bienvenue chez Miraculous, là où la beauté rencontre l'innovation.

                Chez Miraculous, nous croyons en la puissance de la confiance en soi que procure une peau rayonnante et en santé. C'est pourquoi nous nous sommes engagés à vous offrir les meilleurs produits cosmétiques conçus pour sublimer votre beauté naturelle.

                Notre voyage a commencé avec une vision simple : créer des produits de beauté exceptionnels, formulés avec soin, et inspirés par la nature. Depuis nos débuts, nous avons mis l'accent sur la qualité, l'efficacité et l'accessibilité pour que chacun puisse se sentir magnifique au quotidien.

               </p>
                  <div class="row">
                    <div class="col-lg-4 col-sm-4">
                      <div
                        class="skill-item first-skill-item wow fadeIn"
                        data-wow-duration="1s"
                        data-wow-delay="0s"
                      >
                        <div class="progress" data-percentage="100">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              100%<br />
                              <span>Qualité</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div
                        class="skill-item second-skill-item wow fadeIn"
                        data-wow-duration="1s"
                        data-wow-delay="0s"
                      >
                        <div class="progress" data-percentage="90">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              90%<br />
                              <span>Eco-responsable</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div
                        class="skill-item third-skill-item wow fadeIn"
                        data-wow-duration="1s"
                        data-wow-delay="0s"
                      >
                        <div class="progress" data-percentage="80">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              80%<br />
                              <span>Accessible</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="services" class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div
              class="section-heading wow fadeInDown"
              data-wow-duration="1s"
              data-wow-delay="0.5s"
            >
              <h6>Nos services</h6>
              <h4>Qu'est-ce que notre entreprise <em>offre </em> </h4>
              <div class="line-dec"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="naccs">
              <div class="grid">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="menu">
                      <div class="first-thumb active">
                        <div class="thumb">
                          <span class="icon"
                            ><img
                              src="~/images/service-icon-01.png"
                              alt=""
                          /></span>
                          Personnalisation de Produits 
                        </div>
                      </div>
                      <div>
                        <div class="thumb">
                          <span class="icon"
                            ><img
                              src="~/images/service-icon-02.png"
                              alt=""
                          /></span>
                          Ateliers de Maquillage
                        </div>
                      </div>
                      <div>
                        <div class="thumb">
                          <span class="icon"
                            ><img
                              src="~/images/service-icon-03.png"
                              alt=""
                          /></span>
                          Livraison à Domicile
                        </div>
                      </div>
                      <div>
                      
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="offers" class="our-offers section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div
              class="section-heading wow fadeInLeft"
              data-wow-duration="1s"
              data-wow-delay="0.3s"
            >
              <h6>Annonces</h6>
              <h4>Voici nos <em>offres d'emploi</em></h4>
              <div class="line-dec"></div>
            </div>
          </div>
        </div>
      </div>
      <main>
        @RenderBody()
      </main>
      
    </div>


    <div id="contact" class="contact-us section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div
              class="section-heading wow fadeIn"
              data-wow-duration="1s"
              data-wow-delay="0.5s"
            >
              <h6>Contactez-nous,</h6>
              <h4>Nous sommes là pour <em>vous</em></h4>
              <div class="line-dec"></div>
            </div>
          </div>
          <div
            class="col-lg-12 wow fadeInUp"
            data-wow-duration="0.5s"
            data-wow-delay="0.25s"
          >
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <div class="contact-dec">
                    <img src="~/images/contact-dec.png" alt="" />
                  </div>
                </div>
                <div class="col-lg-5">
                  <div id="map">
                    <iframe
                      src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                      width="100%"
                      height="636px"
                      frameborder="0"
                      style="border: 0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="fill-form">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="info-post">
                          <div class="icon">
                            <img src="~/images/phone-icon.png" alt="" />
                            <a href="#">010-020-0340</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="info-post">
                          <div class="icon">
                            <img src="~/images/email-icon.png" alt="" />
                            <a href="#">mirauclous@email.com</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="info-post">
                          <div class="icon">
                            <img src="~/images/location-icon.png" alt="" />
                            <a href="#">123 Rio de Janeiro</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input
                            type="name"
                            name="name"
                            id="name"
                            placeholder="Name"
                            autocomplete="on"
                            required
                          />
                        </fieldset>
                        <fieldset>
                          <input
                            type="text"
                            name="email"
                            id="email"
                           
                            placeholder="Your Email"
                            required=""
                          />
                        </fieldset>
                        <fieldset>
                          <input
                            type="subject"
                            name="subject"
                            id="subject"
                            placeholder="Subject"
                            autocomplete="on"
                          />
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <textarea
                            name="message"
                            type="text"
                            class="form-control"
                            id="message"
                            placeholder="Message"
                            required=""
                          ></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button
                            type="submit"
                            id="form-submit"
                            class="main-button"
                          >
                            Envoyer un message 
                          </button>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>
              Copyright © 2022 Miraculous Co., Ltd. All Rights Reserved.
              <br />
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/animation.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/custom.js"></script>
  </body>
</html>
