<div class="essai">
    <form action="">
        <h1>Contrat d'essai</h1>
        <div>
            <label for="">Candidat :</label>
            <select name="idcandidat" id="">
                <option value="">Candidat</option>
            </select>
        </div>
        <div>
            <label for="">Durée :</label>
            <input type="number" name="duree" placeholder="en mois">
        </div>
        <div>
            <label for="">Date de début :</label>
            <input type="date" name="debut" id="">
        </div>
        <div>
            <label for="">Salaire brut :</label>
            <input type="number" name="brut" placeholder="Brut">
        </div>
        <div>
            <input type="submit" value="Valider">
        </div>
    </form>
</div>