@{
    Layout = "_form"; 
}

@model RH.Models.Poste[]

      <div id="div">
        <div id="form-title">
            <h1>
                Ajouter un besoin
            </h1>
        </div>
        <form action='@Url.Action("InsertBesoin","Besoin")' method="get">
          <div class="">
           <div class="my-input-group">
             <label for="">
                Poste : 
            </label>
            <select name="idposte">
                @foreach (var poste in Model)
                {
                    <option value="@poste.idPoste">@poste.nomPoste</option>
                }
            </select>
           </div>
           <div class="my-input-group">
             <label for="">
                Nombre d'heures/semaine : 
            </label>
            <input type="number" name="heuresemaine" required>
           </div>
           <div class="my-input-group">
             <label for="">
                Nombre d'heures/employé : 
            </label>
            <input type="number" name="heuremploye" value="40" required>
           </div>
            <div class="my-input-group">
                <input type="submit" value="Ajouter">
            </div>
          </div>
        </form>        
      </div>