@{
    Layout = "_NoLayout";
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>Dimpex</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <link rel="stylesheet" href="~/css/templatemo-digimedia-v1.css" />
    <link rel="stylesheet" href="~/css/animated.css" />
    <link rel="stylesheet" href="~/css/owl.css" />
    @* <link rel="stylesheet" href="~/css/ajout.css" /> *@
  </head>
  <body>
    
    <div class="essai">
        <h1>CONTRAT D'ESSAI</h1>
        <label for="">
            <p>La société Miraculous</p>
            <p>Dument habilité aux fins de présentes</p> 
            <p>Ci après dénommée "d'Employeur",</p>
            <p>D'une part;</p>
            <p>Et</p>
            <p> <label for="">Mr (Mme) : </label> RAKOTO  Koto</p>
            <p> <label for=""> Né(e) le : </label> 29 Mai 1998 </p>
            <p> <label for=""> Mail : </label> koto@gmail.com </p>
            <p> <label for=""> Contact : </label> 034 32 232 12 </p>
            <p> <label for=""> Nationalité : </label> Malagasy </p>
        </label>
        <form action="">
            <input type="hidden" name="idcontrat_essai" value="">
            <div>
                <label for="">Durée :</label>
                <input type="number" name="duree" placeholder="en mois">
            </div>
            <div>
                <label for="">Date de début :</label>
                <input type="date" name="debut" id="">
            </div>
            <div>
                <label for="">Salaire brut :</label>
                <input type="number" name="brut" value="12000" readonly>
            </div>
            <div>
                <input type="submit" value="Valider">
            </div>
        </form>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/animation.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/custom.js"></script>
  </body>
</html>