<div class="formcreator">
            
          <div id="questions">
            <div id="submitted">
               
            </div>
            <form id="newform">
              <input type="text" placeholder="Question" id="question" />
              <div class="options-container">
                <div class="options">
                    <i class="fa fa-circle-o"></i>
                    <input type="text" class="option" placeholder="Option 1">
                </div>
              </div>
              
              <div class="options" id="add-option-container">
                <i class="fa fa-circle-o"></i>
                <input type="text" id="add-option" class="option" placeholder="Ajouter une option">
              </div>
            </form>
          </div>
          <div id="add">+ Ajouter une question</div>
        </div>
        <script>
          function reinit(){
        
            const parentElement = document.getElementById('questions');
            parentElement.innerHTML = ''; 
            // Créez et ajoutez l'élément <div id="submitted"></div> à l'élément parent
            const submittedDiv = document.createElement('div');
            submittedDiv.id = 'submitted';
            parentElement.appendChild(submittedDiv);

            // Créez le formulaire et ses éléments
            const newForm = document.createElement('form');
            newForm.id = 'newform';
            parentElement.appendChild(newForm);

            const questionInput = document.createElement('input');
            questionInput.type = 'text';
            questionInput.placeholder = 'Question';
            questionInput.id = 'question';
            newForm.appendChild(questionInput);

            const optionsContainer = document.createElement('div');
            optionsContainer.className = 'options-container';
            newForm.appendChild(optionsContainer);

            const optionsDiv = document.createElement('div');
            optionsDiv.className = 'options';
            optionsContainer.appendChild(optionsDiv);

            const optionIcon = document.createElement('i');
            optionIcon.className = 'fa fa-circle-o';
            optionsDiv.appendChild(optionIcon);

            const optionInput1 = document.createElement('input');
            optionInput1.type = 'text';
            optionInput1.className = 'option';
            optionInput1.placeholder = 'Option 1';
            optionsDiv.appendChild(optionInput1);

            const addOptionContainer = document.createElement('div');
            addOptionContainer.className = 'options';
            addOptionContainer.id = 'add-option-container';
            newForm.appendChild(addOptionContainer);

            const addOptionIcon = document.createElement('i');
            addOptionIcon.className = 'fa fa-circle-o';
            addOptionContainer.appendChild(addOptionIcon);

            const addOptionInput = document.createElement('input');
            addOptionInput.type = 'text';
            addOptionInput.id = 'add-option';
            addOptionInput.className = 'option';
            addOptionInput.placeholder = 'Ajouter une option';
            addOptionContainer.appendChild(addOptionInput);
          }
          function afficherQuestionnaire(questions) {
     
            const container = document.getElementById('submitted');
            container.innerHTML = '';
            questions.forEach((questionData, index) => {
                const questionnaireContainer = document.createElement('div');
                questionnaireContainer.className = 'questionnaire-submitted';

                const questionContainer = document.createElement('div');
                questionContainer.className = 'question-submitted';

                const titre = document.createElement('div');
                titre.className = 'question-title';
                titre.textContent = questionData.Question;

                questionContainer.appendChild(titre) ;

                const optionsContainer = document.createElement('div');
                optionsContainer.className = 'options-submitted-container';

                questionData.Options.forEach((optionText, optionIndex) => {
                    const optionContainer = document.createElement('div');
                    optionContainer.className = 'options-submitted';

                    const icon = document.createElement('i');
                    icon.className = 'fa fa-circle-o';

                    const optionValue = document.createElement('div');
                    optionValue.className = 'option-value';
                    optionValue.textContent = 'Option ' + (optionIndex + 1) + ': ' + optionText;

                    optionContainer.appendChild(icon);
                    optionContainer.appendChild(optionValue);

                    optionsContainer.appendChild(optionContainer);
                });

                questionContainer.appendChild(optionsContainer);
                questionnaireContainer.appendChild(questionContainer);

                container.appendChild(questionnaireContainer);
            });
        }
            const optionsContainer = document.querySelector('.options-container');
            const addOptionInput = document.getElementById('add-option');

            // Fonction pour créer un nouvel élément "options" et l'insérer dans "options-container"
            function createNewOptionInContainer() {
              const newOptionDiv = document.createElement('div');
              newOptionDiv.className = 'options';
              const icon = document.createElement('i');
              icon.className = 'fa fa-circle-o';
              const newInput = document.createElement('input');
              newInput.type = 'text';
              newInput.className = 'option';
              newInput.placeholder = 'Option ' + document.querySelectorAll('.options-container .options').length;
              newOptionDiv.appendChild(icon);
              newOptionDiv.appendChild(newInput);

              optionsContainer.appendChild(newOptionDiv);
              newInput.focus();
              optionsContainer.scrollIntoView({ behavior: "smooth" });

            }

            // Ajoutez un gestionnaire d'événements pour créer un nouvel élément "options" dans "options-container" lors du focus
            addOptionInput.addEventListener('focus', createNewOptionInContainer);


            // Sélectionnez l'élément "questions" par son ID
            const questionsDiv = document.getElementById("questions");
            var addButton = document.getElementById('add');
            var questionInput = document.getElementById('question');
       

          addButton.addEventListener('click', function() {
              // Récupérer la valeur de la question
              var questionValue = questionInput.value;

              // Récupérer les valeurs des options
              var options = [];
              var optionInputs = optionsContainer.querySelectorAll('.options .option');
              optionInputs.forEach(function(optionInput) {
                  options.push(optionInput.value);
              });

              // Créer un objet avec les données à envoyer
              var postData = {
                  question: questionValue,
                  options: options
              };
              console.log(postData);
              // Effectuer une requête Ajax (XHR)
              var xhr = new XMLHttpRequest();
              xhr.open('POST', '@Url.Action("addQuestion", "test")', true);
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.onreadystatechange = function() {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                      reinit(); 
                      console.log(xhr.responseText);
                      const response = JSON.parse(xhr.responseText);
                      afficherQuestionnaire(response);
                      addButton.scrollIntoView({ behavior: "smooth" })
                  }
              };
              xhr.send(JSON.stringify(postData));
          });
        </script>