@{
    Layout = "_NoLayout";
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Dimpex</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <link rel="stylesheet" href="~/css/templatemo-digimedia-v1.css" />
    <link rel="stylesheet" href="~/css/animated.css" />
    <link rel="stylesheet" href="~/css/owl.css" />
    <link rel="stylesheet" href="~/css/critereCV.css" />
  </head>
  <body>
    <div id="contact" class="contact-us section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div
              class="section-heading wow fadeIn"
              data-wow-duration="1s"
              data-wow-delay="0.5s"
            >
              <h6>Voici nos critères</h6>
              <h4><em>EPATEZ-NOUS</em></h4>
              <div class="line-dec"></div>
            </div>
          </div>
          <div
            class="col-lg-12 wow fadeInUp"
            data-wow-duration="0.5s"
            data-wow-delay="0.25s"
          >
            <form id="contact"  enctype="multipart/form-data" action='@Url.Action("critere","cv")' method="post">
              <div class="row">
                <div class="col-lg-12">
                  <div class="contact-dec">
                    <img src="~/images/contact-dec.png" alt="" />
                  </div>
                </div>
                <div class="col-lg-5">
                  <div id="map">
                    <img src="~/images/iconeCV.png" >
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="fill-form">
                    <div class="row">
                      <div class="col-lg-6 mb-4">
                        <fieldset class="checkbox" >
                            <span class="gras" >Genre :</span>
                            <div class="row-radio"><input type="radio" name="genre"  value="1" > Homme</div> 
                            <div class="row-radio"><input type="radio" name="genre" value="2"  > Femme </div>
                        </fieldset>
                      </div>
                      <div class="col-lg-6 mb-4">
                        <fieldset class="checkbox" >
                            <span class="gras" >Nationalité :</span>
                            <div class="row-radio"><input type="radio" name="nationalite" value="3"  > Malagasy</div> 
                            <div class="row-radio"><input type="radio" name="nationalite" value="4"  > Etrangé(é) </div>
                        </fieldset>
                      </div>
                      <div class="col-lg-6 mb-4">
                        <fieldset class="checkbox" >
                            <span class="gras" >Diplome :</span>
                            <div class="row-radio"><input type="radio" name="diplome" value="5"  > CEPE</div> 
                            <div class="row-radio"><input type="radio" name="diplome" value="6"  > BEPC </div>
                            <div class="row-radio"><input type="radio" name="diplome" value="7"  > BACC </div>
                            <div class="row-radio"><input type="radio" name="diplome" value="8"  > Licence </div>
                            <div class="row-radio"><input type="radio" name="diplome" value="9"  > Master </div>
                            <div class="row-radio"><input type="radio" name="diplome" value="10"  > Doctorat </div>
                        </fieldset>
                      </div>
                      <div class="col-lg-6 mb-4">
                        <fieldset class="checkbox" >
                            <span class="gras" >Fichier diplome</span>
                           <input type="file" name="file-diplome" id="file">
                        </fieldset>
                      </div>
                      <div class="col-lg-6 mb-4">
                        <fieldset class="checkbox" >
                            <span class="gras" >Experience :</span>
                            <div class="row-radio"><input type="radio" name="experience" value="11" > moins de 2 ans </div> 
                            <div class="row-radio"><input type="radio" name="experience" value="12" > entre 2 à 5 ans  </div>
                            <div class="row-radio"><input type="radio" name="experience" value="13" > etre 5 à 7 ans </div>
                            <div class="row-radio"><input type="radio" name="experience" value="14" > 7 ans + </div>
                        </fieldset>
                      </div>
                      <div class="col-lg-6 mb-4">
                        <fieldset class="checkbox" >
                            <span class="gras" >Fichier expérience</span>
                           <input type="file" name="file-experience"  id="file">
                      </fieldset>
                      </div>
                      <div class="col-lg-6 mb-4">
                        <fieldset class="checkbox" >
                            <span class="gras" >Situation matrimoniale :</span>
                            <div class="row-radio"><input type="radio" name="sm" value="15"  > En couple </div> 
                            <div class="row-radio"><input type="radio" name="sm" value="16"  > Divorcé(e)  </div>
                            <div class="row-radio"><input type="radio" name="sm" value="17"  > Célibataire </div>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button
                            type="submit"
                            id="form-submit"
                            class="main-button"
                          >
                            Completez
                          </button>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/animation.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/custom.js"></script>
  </body>
</html>