@{
    Layout = "_NoLayout"; 
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>Dimpex</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <link rel="stylesheet" href="~/css/templatemo-digimedia-v1.css" />
    <link rel="stylesheet" href="~/css/animated.css" />
    <link rel="stylesheet" href="~/css/owl.css" />
  </head>
  <body>
    <div style="margin-top: 4vh;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div
                  class="about-left-image wow fadeInLeft"
                  data-wow-duration="1s"
                  data-wow-delay="0.5s"
                >
                  <img src="~/images/about-dec.png" alt="" />
                </div>
              </div>
              <div
                class="col-lg-6 align-self-center wow fadeInRight"
                data-wow-duration="1s"
                data-wow-delay="0.5s"
              >
                <div class="about-right-content">
                  <div class="section-heading">
                    <h6>Service Informatique</h6>
                    <h4>Développeur</h4>
                    <div class="line-dec"></div>
                  </div>
                  <p>
                    Dimpex est à la recherche d'un homme/femme pour assurer le poste de <a
                      rel="nofollow"
                      target="_blank"
                      > Développeur </a
                    >. Ces critères seront requis:
                  </p>
                  <ul>
                    <li>
                        <span id="critere">
                            Diplome:
                        </span> Licence
                    </li>
                    <li>
                        <span id="critere">
                            Expérience:
                        </span> +5 ans
                    </li>
                    <li>
                        <span id="critere">
                            Situation matrimoniale:
                        </span> marié
                    </li>
                    <li>
                        <span id="critere">
                            Nationalité:
                        </span> Malagasy
                    </li>
                  </ul>
                </div>
                <div style="margin-top: 3vh;" class="border-first-button">
                    <a>Postuler</a>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/animation.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/custom.js"></script>
  </body>
</html>
