<div class="detail-cv">
    <div class="head">
        <h3>Détails du CV</h3>
    </div>
    <div class="a_propos">
        <div class="gauche">
            <p> <label for="">Nom:</label> Rakoto</p>
            <p> <label for="">Prénom:</label> Rakoto</p>
            <p> <label for="">Date de naissance:</label> 2023-12-01</p>
            <p> <label for="">Genre:</label> Lelahy</p>
            <p> <label for="">Nationalité:</label> Malagasy</p>
        </div>
        <div class="droite">
            <p> <label for="">Contact:</label> 0340254062</p>
            <p> <label for="">Mail:</label> Rakoto@gmail.com </p>
        </div>
    </div>
    <div class="infos">
        <div class="inf">
            <div>
                <label for="">Diplomes:</label>
                <a href="#" class="btn-download">
                    <i class="bx bxs-cloud-download"></i>
                    <span class="text">Voir l'attestation</span>
                </a>
            </div>
            <div class="info_">
                <ul>
                    <li><i class="bx bxs-checkbox-checked"></i>Bac</li>
                    <li><i class="bx bxs-checkbox-checked"></i>Licence</li>
                    <li><i class="bx bxs-checkbox-checked"></i>Licence</li>
                </ul>
            </div>
        </div>
        <div class="inf">
            <div>
                <label for="">Expériences:</label>
                <a href="#" class="btn-download">
                    <i class="bx bxs-cloud-download"></i>
                    <span class="text">Voir l'attestation</span>
                </a>
            </div>
            <div class="info_">
                <ul>
                    <li><i class="bx bxs-checkbox-checked"></i>Bac</li>
                    <li><i class="bx bxs-checkbox-checked"></i>Licence</li>
                    <li><i class="bx bxs-checkbox-checked"></i>Licence</li>
                </ul>
            </div>
        </div>
        <div class="inf">
            <div>
                <label for="">Situation matrimoniale:</label>
            </div>
            <div class="info_">
                <ul>
                    <li><i class="bx bxs-checkbox-checked"></i>Maty vady</li>
                    <li><i class="bx bxs-checkbox-checked"></i>Nisara bady</li>
                    <li><i class="bx bxs-checkbox-checked"></i>Sitrany solo</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="retour"><a href='@Url.Action("Liste","ListeCv")'>Retour</a></div>
</div>