<div id="fichepaie">
    <div class="table-data">
        <div class="order">
        <div class="head_center">
            <h3>Fiche de paie</h3>
            <h6>Arrete au 31/10/2023</h6>
        </div>
        <div id="info">
            <div id="left">
                <div id="labels">
                    <p class="bolder">
                        Nom:
                    </p>
                    <p class="bolder">
                        Matricule:
                    </p>
                    <p class="bolder">
                        Fonction:
                    </p>
                    <p class="bolder">
                        Numero CNAPS:
                    </p>
                    <p class="bolder">
                        Date d'embauche:
                    </p>
                    <p class="bolder">
                        Anciennete:
                    </p>
                </div>
                <div id="values">
                    <p>
                        RAZAFIARISON Laza
                    </p>
                    <p>
                        627/TNR
                    </p>
                    <p>
                        Mpitolona
                    </p>
                    <p>
                        000001
                    </p>
                    <p>
                        25/03/2011
                    </p>
                    <p>
                        12 ans
                    </p>
                </div>
            </div>
            <div id="right">
                <div id="labels">
                    <p class="bolder">
                        Classification:
                    </p>
                    <p class="bolder">
                        Salaire de base:
                    </p>
                    <p class="bolder">
                        Taux journalier:
                    </p>
                    <p class="bolder">
                        Taux horaire:
                    </p>
                    <p class="bolder">
                        Indice:
                    </p>
                </div>
                <div id="values_left">
                    <p>
                        HC
                    </p>
                     <p>
                        4.089.000
                    </p>
                     <p>
                        136.000
                    </p>
                     <p>
                        23.000
                    </p>
                     <p>
                        17.000
                    </p>
                </div>
            </div>
        </div>
        <table border="1">
            <thead>
            <tr>
                <td>Designation</td>
                <td>Nombre</td>
                <td>Taux</td>
                <td>Montant</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Salaire du 08-08-2023 au 08-09-2023
                </td>
                <td>

                </td>
                <td>4</td>
                <td>3333</td>
            </tr>
            <tr>
                <td>
                    Absences déductibles
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Primes de rendement
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Primes d'ancienneté
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Heures supplémentaires majorées de 30%
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Heures supplémentaires majorées de 40%
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>
                    Heures supplémentaires majorées de 50%
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>
                    Heures supplémentaires majorées de 100%
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Majoration pour heures de nuit
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Primes diverses  
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Rappels sur période antérieure
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Droits de congés
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Droits de préavis
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Indemnités de licenciement
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>

                </td>
                <td></td>
                <td rowspan="2">
                    <p style="text-align: center;" class="bolder">Salaire brut</p>
                </td>
                <td  style="text-align: right;">
                    4.083.409,09
                </td>
            </tr>
            </tbody>
        </table>
        
        </div>
</div>
</div>