<!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Services</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Liste</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="box-info" id="liste_carre_container">
          <li>
            <a href="">
              <div class="liste_carre">
                <img src="../../wwwroot/images/rh.png" alt="" />
                <span class="text liste_carre_text liste_carre_text">
                  <h4>Ressources humaines</h4>
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="liste_carre">
                <img src="../../wwwroot/images/IT.png" alt="" />
                <span class="text liste_carre_text">
                  <h4>Service Informatique</h4>
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="liste_carre">
                <img src="../../wwwroot/images/finance.png" alt="" />
                <span class="text liste_carre_text">
                  <h4>Service Financier</h4>
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="liste_carre">
                <img src="../../wwwroot/images/logistique.png" alt="" />
                <span class="text liste_carre_text">
                  <h4>Service Logistique</h4>
                </span>
              </div>
            </a>
          </li>
        </ul>
      </main>