#main_form{
    display: grid;
    grid-template-columns: 1fr 1fr
}
#div{
  background: var(--light);
  padding: 20vh 30vh 20vh 20vh;
  margin: auto;
  width: 100%;
  font-family: var(--lato);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  height: 100vh;
}
#div form{
    width: 100%;
}
select, input[type=number] , input[type=text] , input[type=password],input[type=submit]{
    width: 100%;
    height:6vh;
    border-radius:10px;
    border:none; 
    background-color:var(--grey);
    padding-left:1vw;
    padding-right:1vw;

}
#form-title{
    color: var(--pink);
}
select,input:focus-visible{
    outline:none;
}
input[type=submit]{
background-color: var(--pink);
color: white;
}
.my-input-group{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 12vh;
    margin-top: 3vh;
}
#img-form{
    background-image: url('/images/curved1.jpg');
}

#content main .table-data .todo .todo-list li {
    width: 100%;
}